html {
    scroll-behavior: smooth;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    color: #000000;
    height: 100%;
    margin: auto;
    
}

.header {
    height: 100vh;
    background: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
}

.header h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 42px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

.subtitle {
    font-size: 14px;
    letter-spacing: 2px;
    color: #666;
    margin-bottom: 40px;
}

.btn {
    display: inline-block;
    padding: 12px 28px;
    border: 2px solid black;
    font-size: 12px;
    letter-spacing: 1px;
    text-decoration: none;
    color: white;
    background: black;
    transition: all 0.3s ease;
}

.btn:hover {
    background: white;
    color: black;
}
.header-contact {
    position: absolute;
    bottom: 30px;
    text-align: center;
}

.header-contact p {
    font-size: 14px;
    margin-bottom: 10px;
    color: #666;
}

.social-icons a {
    margin: 0 10px;
    font-size: 18px;
    color: black;
    transition: 0.3s ease;
}

.social-icons a:hover {
    color: #555;
}

.about {
    max-width: 900px;
    margin: 50px auto;
    padding: 40px;
    text-align: center;
}

.about p {
    font-size: 18px;
    line-height: 1.8;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(37, 36, 36);
    
}

.container {
    max-width: 1100px;
    margin: 60px auto;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: stretch;
    padding: 0 20px;
}

.container section {
    flex: 1;
    background: white;
    padding: 25px;
    border-radius: 10px;
    outline: 2px solid #000000;
}

.container h3 {
    margin-bottom: 15px;
    text-align: center;
    color: rgb(38, 36, 36);

}

.container ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.container li {
    margin-bottom: 10px;
    line-height: 1.5;
    text-align: center;
}

.tools {
    text-align: center;
}

@media (max-width: 900px) {
    .container {
        flex-direction: column;
    }
}

.tools {
    text-align: center;
}

.tools img {
    width: 200px;          
    margin: 40px auto;
    display: block;
    border-radius: 8px;
}

.projects {
    text-align: center;
}

.projects img {
    position: relative;
    width: 300px;
    margin: 30px 20px;
    border-radius: 8px;
    z-index: 1;
}

.tagline {
    font-size: 100px;
    margin: 1%;
}    

.highlight {
    color: rgb(33, 59, 90);
}    

.highlight1 {
    color: rgb(241, 148, 148);
}    
