body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fdfdfd;
    color: #333;
    line-height: 1.6;
    padding-left: 20px;
}

.profile {
    text-align: left;
    padding: 20px 20px 30px;
    background-color: white;
}

.profile h1 {
    font-size: 30px;
    font-weight: 600;
    margin-top: 8px;
    color: #111;
}

.profile h4 {
    font-weight: 400;
    color: #666;
    margin-bottom: 20px;
}


.id-picture {
    width: 130px;
    border-radius: 50%;
    object-fit: cover;
}



.slide img {
    width: 200px;                    
    border-radius: 8px;
    scroll-snap-align: start;
    flex-shrink: 0;                   
    cursor: pointer;                
    transition: transform 0.3s;      
}


.slide img:hover {
    transform: scale(1.05);          
}


.tools {
    text-align: center;
}

.tools img {
    width: 700px;          
    margin: 40px auto;
    display: block;
    border-radius: 8px;
}


.projects {
    text-align: center;
}

.projects img {
    position: relative;
    width: 300px;
    margin: 30px 20px;
    border-radius: 8px;
    z-index: 1;
}

.projects img::after {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 10%;
    width: 80%;
    height: 12px;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    filter: blur(4px);
    z-index: -1;
}